*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    padding: 40px 80px;
    margin-bottom: 40px;
}
.content{
    width: 50%;
}
.header .half-width{
    padding-top: 6%;
}
.photo-width{
    display: block;
    text-align: right;
}
.content img{
    width: 70%;
}
.content .mission-text{
    border-left: 2px solid tomato;
    padding-left: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}
.content p{
    font-size: 20px;
    text-align: justify;
    padding-bottom: 5px;
}
.content .text-color{
    color: orangered;
}
.content a{
    text-decoration: none;
    background-color: #04aa6d;
    color: white;
    padding: 12px 40px;
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 22px;
    border-radius: 7px;
}
.goal {
    display: flex;
    padding: 40px 80px;
    margin-bottom: 40px;
}
.goal h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.goal p{
    font-size: 20px;
    text-align: justify;
}
.goal img{
    width: 40%;
    text-align: left;
    padding: 0;
}
.division{
    width: 33.33%;
    margin: 12px;
    border-radius: 40px;
    padding: 40px;
}
.documation{
    display: flex;
    padding: 40px 80px;
    margin-bottom: 40px;
}
.documation img{
    width: 95%;
}
.documation .person{
    width: 30%;

}
.documation .docu-details{
    width: 70%;
    margin-top: 6%;
    padding-left: 50px;
}
.docu-details h1{
    font-size: 40px;
}
.docu-details p{
    font-size: 20px;
    margin: 15px 0;
    text-align: justify;
    
}
.docu-details a{
    text-decoration: none;
    background-color: #04aa6d;
    padding: 12px 30px;
    color: white;
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    border-radius: 7px;
}
.another-docu{
    display: flex;
    padding: 40px 80px;
    margin-bottom: 40px;
}
.another-docu img{
    width: 95%;
}
.another-docu .details{
    width: 70%;
    margin-top: 5%;
}
.another-docu .details h1{
    font-size: 40px;
}
.another-docu .details p{
    font-size: 20px;
    margin: 15px 0;
    text-align: justify;
}
.another-docu .details a{
    text-decoration: none;
    background-color: #04aa6d;
    font-size: 20px;
    padding: 12px 30px;
    color: white;
    margin-top: 15px;
    display: inline-block;
    border-radius: 7px;
}
.another-docu .person{
    width: 30%;
}
.skill{
    padding: 40px 80px;
    margin-bottom: 40px;
}
.skill .my-skill{
    margin: 25px 0;
    padding: 5px;
}
.skill .my-skill h4{
    font-weight: 400;
    font-size: 20px;
}
.skill .range{
    width: 100%;
    height: 20px;
    background-color: #bbb;
}
.skill .range .overlay{
    width: 80%;
    height: 20px;
    background-color: coral;
}
.skill .my-skill .right{
    float: right;
    margin-right: 5px;
    color: white;
    font-size: 18px;
}
.last-sec{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 30px 0;
}
.last-sec h1{
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.last-sec p{
    font-size: 20px;
}